@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@400;600;700;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
/* .heading {
font-family: 'Poppins', 'Arial', sans-serif;
}
.heading__title {
	font-size: 48px;
	line-height: 80px;
	font-weight: 600;
}
.heading__subtitle {
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	color: #8f95a5;
}
.heading_center {
	text-align: center;
}

.about {
	padding-top: 100px;
}
.about-container,
.about__footer {
	display: flex;
	align-items: center;
}
.about__body {
	margin-right: 200px;
}
.about__footer {
	justify-content: space-between;
	margin-top: 40px;
} */

.heading-block__title {
	font-family: 'Fraunces', 'Arial', sans-serif;
	font-weight: 900;
	line-height: 70px;
	font-size: 24px;
	color: #fefcf7;
}
.heading-block__subtitle {
	font-family: 'Barlow', 'Arial', sans-serif;
	font-weight: 400;
	line-height: 26px;
	font-size: 16px;
	color: #fefcf7;
	opacity: 0.8;
}
.plan-link {
	cursor: pointer;
	padding: 15px 30px;
	line-height: 25px;
	border-radius: 6px;
	font-size: 18px;
	font-weight: 900;
	color: #fefcf7;
	text-decoration: none;
	background-color: #0e8784;
	font-family: 'Fraunces', 'Arial', sans-serif;
}
.plan-link:hover {
	background-color: #66d2cf;
}
.card {
	text-align: center;
	margin: 0 15px;
}

/* //! header styles */
.site-nav {
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 35px;
}
.logo {
	margin-right: auto;
	text-decoration: none;
}
.site-nav__links {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.site-nav__link {
	text-decoration: none;
	font-family: 'Fraunces', 'Arial', sans-serif;
	text-transform: uppercase;
	color: #83888f;
}
.site-nav__link:hover {
	color: #333d4b;
}

/* //! main styles */
.site-hero__img-holder {
	width: 100%;
	height: 550px;
	border-radius: 15px;
	background-image: url('./imgaes/hero-bg.png');
}
.site-hero__card {
	width: 60%;
	padding-top: 100px;
	padding-left: 80px;
}
.site-hero__title {
	font-size: 72px;
}
.heading-block__subtitle_small-width {
	margin-top: 20px;
	width: 80%;
}
.site-hero__link {
	display: inline-block;
	margin-top: 56px;
}

/* //! plan section */
.plans {
	margin-top: 100px;
	padding-top: 120px;
	background-image: url('./img/collection.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.plan__plans-box {
	display: flex;
	justify-content: space-around;
}
.card__body-title {
	color: #333d4b;
}
.card__body-subtitle {
	color: #333d4b;
}
/*  //!choose section */
.choose{
	height: 577px;
	margin-top: 40px;
	padding-top: 90px;
	background-color: #2C343E;
	border-radius: 6px;
}
.additional_style{
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: #FEFCF7;
}
.choose__choose-cards{
	display: flex;
	justify-content: center;
}
.additional_subtitle{
	width: 540px;
	padding-top: 25px;
	margin: auto;
	text-align: center;
	color: #FEFCF7;
}
.choose__choose-cards__card{
	width: 350px;
	height: 382px;
	padding-top: 72px;
	margin: 10px;
	margin-top: 140px;
	background: #0E8784;
	border-radius: 8px;
	text-align: center;
}
.additional_subtitle1{
	width: 255px;
	margin: auto;
	color: #FEFCF7;
}
.additional_title{
	color: #FEFCF7;
}
/*  //!choose section */
.work{
	margin-top: 320px;
}
.work__work-title{
	font-weight: 900;
	font-size: 24px;
	line-height: 32px;
	color: #83888F;
}
.work__work-title__rounds__liner{
	width: 760px;
	height: 1px;
	display: flex;
	margin-top: 80px;
	justify-content: space-between;
	border: 2px solid #FDD6BA;
	box-sizing: border-box;
}
.work__work-title__rounds_round{
	width: 31px;
	height: 31px;
	border-radius: 50%;
	margin-top: -15px;
	background: #FEFCF7;
	border: 2px solid #0E8784;
	box-sizing: border-box;
}
.work__work-boxes{
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}
.work__work-box__title{
	font-weight: 900;
	font-size: 72px;
	line-height: 72px;
	color: #FDD6BA;
}
.additional_text{
	width: 285px;
	padding-top: 42px;
}
/* //!footer */
.coffee{
	width: 100%;
	background: #2C343E;
	margin-top: 110px;
	
}
.coffee_basic{
	display: flex;
	justify-content: space-between;
}
.coffee__coffee-logo{
	display: flex;
	padding-top: 25px;
	padding-bottom: 25px;
}
.additional__nav{
	width: 490px;
}
.coffee_coffee-icon{
	padding-top: 25px;
}
.coffee__coffee-icon__coffee-link{
	color: #FEFCF7;
	padding: 15px;
}
